<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
</head>
<body>
    <form action="/login">
        <input name="userName"/>
        <input name="userPwd" type="password"/>
        <input type="submit"/>
    </form>
    <button id="btn-login" onclick="cli()">click me!</button>
    <script>
        function cli(){
            alert("aa");
        }
        // document.getElementById("btn-login").onclick(function () {
        //
        // });
    </script>
    <!--<script src="/static/js/jq/jquery.min.js"></script>-->
</body>
</html>